<div class="ui-g">
  <div class="ui-g-6">
    <div class="login">
      <div class="title">會員登入</div>
      <div>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user fa-fw"></i></span>
          <input type="text" pInputText placeholder="電子信箱/手機號碼">
        </div>
      </div>
      <div>
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-key fa-fw"></i></span>
              <input type="text" pInputText placeholder="請輸入使用者密碼">
            </div>
      </div>
      <div>登入帳號</div>
    </div>
  </div>
  <div class="ui-g-6">
    <div class="connect">
      <div class="title">連結社群帳號</div>
      <div>facebook</div>
      <div>yahoo</div>
      <div>google</div>
    </div>
  </div>
</div>
