<div class="d-flex login">
  <div class="login-left">
    <div class="container">


      <div class="title">
        會員登入
      </div>
      <!-- <div class="visible-xs socail-con-xs-bg">
      <div class="socail-con-xs">
        <div class="s-btn"><img src="assets/img/logo/fb.jpg"></div>
        <div class="s-btn"><img src="assets/img/logo/google.jpg"></div>
        <div class="s-btn"><img src="assets/img/logo/yahoo.jpg"></div>
      </div>
    </div> -->
      <div class="top">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
          </div>
          <input type="text" placeholder="電子信箱/手機號碼" class="form-control" aria-label="Default">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key fa-fw"></i></span>
          </div>
          <input type="text" placeholder="請輸入使用者密碼" class="form-control" aria-label="Default">
        </div>
        <div class="form-check">
          <label class="cc">記住我
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <button>登入帳號</button>
  </div>
  <div class="login-right">
    <div class="title">
      <span>連結社群帳號</span>
    </div>
    <div class="s-btn"><img src="assets/img/logo/fb.jpg" width="100"></div>
    <div class="s-btn"><img src="assets/img/logo/google.jpg" width="100"></div>
    <div class="s-btn"><img src="assets/img/logo/yahoo.jpg" width="100"></div>
  </div>
</div>
