<div class="checkout done">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="left-con">
          <div class="title">
            <div class="progressive">
              <!-- ps:這裡原本有連結 -->
              <div class="circle done"><a></a></div>
              <div class="circle done"><a></a></div>
              <div class="circle done"></div>
            </div>
            <h1>付款成功</h1>
            <button routerLink="/dessert" class="next-btn">繼續逛逛</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
