/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Noto Sans TC';
  box-sizing: border-box;
}
@import "./scss/index.scss";
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: $white;
  color: $deepGreen;

  .logo-full {
    img {
      height: 40px;
    }
  }

  i {
    &.fa {
      font-size: 24px;
    }
  }

  .link {
    span {
      cursor: pointer;
      font-size: 16px;
    }
  }
}

.suscribe-mail {
  background-color: $deepGreen;
  padding-left: 120px;
  padding-right: 120px;

  .text {
    font-size: 24px;
    color: $lightGreen;
  }

  .ui-inputgroup {
    border-width: 0;

    .ui-inputgroup-addon {
      border-radius: 0;

      &.left {
        background-color: $lightGreen;

        i {
          color: $deepGreen;
        }
      }

      &.right {
        background-color: $lightYellow;
      }
    }
  }
}

.footer-info {
  background-color: $lightGreen;
  color: $deepGreen;
  padding-left: 120px;
  padding-right: 120px;

  div {
    padding: 3px 0;
  }

  .footer-logo {
    width: 171px;
  }

  .icon {
    img {
      height: 32px;
      height: 32px;
      margin-right: 6px;
      cursor: pointer;
    }
  }

  .good-to-eat {
    img {
      height: 218px;
    }
  }
}

// login
.login {
  background-color: $deepGreen;

  .title {
    font-size: 36px;
    font-weight: bold;
    color: $lightGreen;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .ui-inputgroup {
    .ui-inputgroup-addon {
      background-color: $lightGreen;
      border-radius: 0;
      border-width: 0;
      padding: 20px;
    }
    input {
      background-color: $lightGreen;
      border-radius: 0;
      border-width: 0;
      padding: 20px;
    }
  }
}
.connect{
  .title{
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $deepGreen;
      top: 50%;
      left: 0;
      z-index: 1;
    }
  }
}
// footer
#follow{
  padding: 30px 0;
  background-color: $dark-primary;
  .con{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $blue;
    span{
      margin-left: 15px;
      @include sans-serif-font();
    }
    @media (max-width: 768px){
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  .input-group-prepend{
    background-color: $blue;
    .input-group-text{
      padding-left: 24px;
      font-size: 20px;
    }
  }
  input{
    height: 56px;
    background-color: $blue;
    border: none;
    font-size: 22px;
    &:focus{
      box-shadow: none;
    }
  }
  .send-follow{
    background-color: $yellow;
    color: $dark-primary;
    border: none;
    padding: 0 24px;
    font-size: 20px;
    @include transition-all;
    cursor: pointer;
    &:hover{
      background-color: lighten($yellow, 5)
    }
  }
}
footer{
  padding: 50px 0;
  background-color: $blue;
  .l-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    color: $dark-primary;
    .box{
      color: $blue;
      background-color: $dark-primary;
      border-radius: 5px;
      font-size: 24px;
      padding: 7px 6px 5px 6px;
      cursor: pointer;
    }
  }
  .r-con{
    display: flex;
    flex-direction: column;
    p{
      text-align: right;
      color: $dark-primary;
      margin-bottom: 0;
    }
    @media (max-width: 768px){
      p{
        text-align: left;
        padding-top: 20px;
      }
    }
  }
  .sweet{
    font-weight: bold;
    @include straight-word;
    @include serif-font();
    font-size: 24px;
    color: $dark-primary;
    line-height: 0.6;
    margin-bottom: 30px;
    p{
      display: inline-block;
      height: 70px;
      width: 1px;
      padding-top: 5px;
      background-color: $dark-primary;
    }
  }
}
#good-to-eat{
  height: 218px;
}
