/* You can add global styles to this file, and also import other style files */
//font-awsome
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
// font
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  box-sizing: border-box;
}
// color
$white:#ffffff;
$lightYellow:#ffe180;
$deepGreen:#3f5f45;
$lightGreen:#eaf0ed;
$mediumGreen:#8da291;
